body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form {
  background-color: honeydew;
  margin: 10px;
  padding: 10px;
}

input[type=text] {
  padding: 4px;
  border: 0;
  border-bottom: 1px solid;
  background-color: transparent;
}

input[type=text]:focus {
  outline: none;
}

input[type=submit] {
  margin-top: 10px;
}

.content {
  background-color: aliceblue;
  margin: 10px;
}
