<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>TODO LIST</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

  <div id="app">
    <input type="text" v-model="addTxt" placeholder="Input Todo...">
    <button v-on:click="addToDo()">Add</button>
    <hr>

    <table>
      <thead>
        <tr>
          <td>ID</td>
          <td>TODO</td>
          <td>操作</td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="todo in list" v-if="todo.flag === true">
          <td>
            {{ todo.id }}<br>
            <button @click="changeToDo(todo.id)">complete</button>
          </td>
          <td class="todo">{{ todo.txt }}</td>
          <td>
            <button @click="deleteToDo(todo.id)">Delete</button>
            <button @click="editToDo(todo.id)">Edit</button>
          </td>
        </tr>
        <tr v-for="todo in list" v-if="todo.flag === false" class="completeTasks">
          <td>
            {{ todo.id }}<br>
            <button @click="changeToDo(todo.id)">undo</button>
          </td>
          <td class="todo">{{ todo.text }}</td>
          <td>
            <button @click="deleteToDo(todo.id)">delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <script src="contents.js"></script>
</body>
</html>
